<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<nav class="navbar fixed-top navbar-expand-xl navbar-light bg-blue-light">
  <div class="container" style="max-width:100%; 
  margin-top: 7px;margin-bottom: 7px;">
    <a
      class="navbar-brand d-flex align-items-center"
      href="{{ .Site.BaseURL }}"
      style="margin-left: 10px;"
    >
      {{ partial "utilities/image.html" "images/icon.png" }}
      <div style="margin-left: 10px;margin-top: 5px;margin-right: 5px;"> {{ partial "utilities/image-fluid.html" "images/title.png" }}</div>
      
      <!-- <span class="header-title ps-3 ps-3 fs-1 fw-semibold text-primary" style="font-family: 'Times New Roman', serif;"
        >{{ .Site.Title }}
      </span> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-xl-0">
        {{ range .Site.Menus.main }}
        <li class="nav-item text-center">
         
          {{ if .HasChildren }}
          <li class="nav-item dropdown text-center ">
            <a class="nav-link dropdown-toggle px-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ .Name }}
            </a>
            <ul class="dropdown-menu bg-blue-light">
            {{ range .Children }}
            <li class="py-1"><a  style="text-decoration:none" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
          </li>
          {{else}}
          <a class="nav-link px-4" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </li>
        {{ end }}
      </ul>
      <!-- <ul class="navbar-nav ms-xl-3 mb-2 mb-xl-0">
        {{ range .Site.Menus.buttons }}
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-light px-4" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul> -->
    </div>
  </div>
</nav>
