<section class="section hero py-5 hero-section">

  
  <div class="container hero-content">
  
    <div class="row flex-column flex-xl-row-reverse ">
      <div class="text-center" style="display: flex; height:1%; margin-bottom: 1%; margin-top:-2%;background-color: #f5a201;padding-top: 1%;padding-bottom: 1%; border-radius: 8px;width: 95%; align-self: center; justify-content: center;">
      
        <!-- <a href="https://forms.gle/P4FN9z5F5QhMmXd37" style="pointer-events: fill;">
          <b>Help Shape The Community By Filling Out Our Survey!</b>
        </a> -->

        <a href="https://createcommunity.space/planter-box-workshop/" style="pointer-events: fill;">
          <b>Get Ready For Our Planter Box Workshop In July!</b>
        </a>
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column hero-image align-items-center px-4 py-4"  >
        {{ partial "utilities/image-fluid" "images/logo.png" }}
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center align-items-center">
        {{ with .content.title }}
          <h1 class="hero-title fw-bold display-4 text-primary text-center text-xl-start pb-4">{{ . | markdownify }}</h4>
        {{ end }}
        {{ with .content.text }}
          <p class="hero-text fw-bold text-center text-black-61 text-xl-start pb-4">{{ . | markdownify }}</p>
        {{ end }}
        <div class="d-flex flex-column flex-xl-row">
          {{ with .content.buttonPrimary }}
            <a class="btn btn-primary text-light px-4 my-1" href="{{ .url }}">{{ .label }}</a>
          {{ end }}
          {{ with .content.buttonSecondary }}
            <a class="btn btn-outline-primary px-4 my-1 ms-xl-4" href="{{ .url }}">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
