<section class="section services py-5">
  <div class="container">
    <div class="row justify-content-center pb-6">
      <div class="col-12">
        {{ with .content.title }}
        <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}

        <div class="col-12 pb-3">
          {{ range .content.description }} {{ with .text }}
          <p class="text-black-61 text-center">{{ . }}</p>
          {{ end }} {{ end }}
        </div>
      </div>
    </div>
    <div class="row g-5">
      {{ range .content.cards }}
      <div class="col-12 col-xl-4">
        <div class="card bg-blue-16 border-0 border-radius-34 p-4">
          {{ with .title }}
          <h2 class="card-title text-center text-primary">
            <strong>{{ . }}</strong>
          </h2>
          {{ end }}
          <!-- {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }} -->
          <div class="card-body text-center">
            <div>
              {{ with .price }}
              <h3 class="card-title text-center text-primary pb-4">{{ . }}</h3>
              {{ end }} {{ range .info }} {{ with .text }}
              <li class="card-text text-start text-black-61">{{ . }}</li>
              {{ end }} {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="text-center mt-3">
      {{ with .content.sectionButton }}
      <a class="btn btn-outline-primary px-4 mt-4" href="{{ .url }}"
        >{{ .label }}</a
      >{{ end }}
    </div>
  </div>
</section>
