{{ define "main" }}

<section class="section blog-single py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="justify-content-center">
        {{ with .Title }}
        <h2 class="page-title display-4 fw-bold text-center text-primary pb-3">
          {{ . }}
        </h2>
        {{ end }} {{ range site.Data.faqs }}
        <details class="col-8 mx-auto">
          <summary class="h3 col-auto">{{ .q }}</summary>
          {{ range .a }}
          <p class="col-auto">{{ . }}</p>
          {{ end }}
        </details>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}
